{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block body %}

    <div class="choix">
        <a href="{{ path ('liste')}}">Liste de souhait</a>
        <a href="{{ path ('ajouter') }}">Ajouter un souhait</a>
    </div>
    <div class="autre">
        <a href="{{ path('aboutUs') }}">About Us</a>
        <a href="{{ path ('legal-stuff') }}">Mentions légales</a>
    </div>>
{% endblock %}


