{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block body %}

    <div class="choix">
        <a class="rainbow rainbow-1" href="{{ path ('liste')}}">Liste de souhait</a>
        <a class="rainbow rainbow-1" href="{{ path ('ajouter') }}">Ajouter un souhait</a>
    </div>

    <div class="user">
        <a class="rainbow rainbow-1" href="{{ path ('app_register')}}">Inscription</a>
        <a class="rainbow rainbow-1" href="{{ path ('app_login') }}">Connexion</a>
    </div>

    <div class="autre">
        <a class="rainbow rainbow-1" href="{{ path('aboutUs') }}">About Us</a>
        <a class="rainbow rainbow-1" href="{{ path ('legal-stuff') }}">Mentions légales</a>
    </div>
{% endblock %}


