{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block body %}
    <p>Coucou, ca marche!!</p>
    <a href="{{ path('aboutUs') }}">About Us</a>
    <a href="{{ path ('liste')}}">Liste de souhait</a>
    <a href="{{ path ('detail') }}">Details</a>
    <a href="{{ path ('legal-stuff') }}">Mentions légales</a>
{% endblock %}


