<!doctype html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="{{ asset('js/jquery.js') }}"></script>
        <link rel="shortcut icon" href="{{ asset ('image/favicon.png') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}

    <title>{% block title %} Bucket-List {% endblock %}</title>
</head>

<body>
<header>
    {% block header %}


        {% if app.user %}
            <a class="logoUser" href="{{ path('home') }}">
                <img class="logoUser" src="{{ asset('image/logouser.png') }}">
                <p> Home </p>

            <a class="logoUserDeco" href="{{ path ('app_logout') }}">
                <img class="logoUserDeco" src="{{ asset('image/logouserdeco.png') }}">
                    <P>Déconnection</P>
        {% else %}
            <a class="logoUser" href="{{ path('app_login') }}">
                <img class="logoUser" src="{{ asset('image/logouser.png') }}">
                <p> Connection </p>

            <a class="logoUserDeco" href="{{ path ('app_register')}}">
                <img class="logoUserDeco" src="{{ asset('image/logoadduser.png') }}">
                <P>Créer un compte</P>
        {% endif %}
        </a>

{#        <a class="logoUserDeco" href="{{ path ('app_logout') }}">#}
{#            <img class="logoUserDeco" src="{{ asset('image/logouserdeco.png') }}">#}
{#            {% if app.user %}#}
{#                <h3>Déconnection</h3>#}
{#            {% endif %}#}
{#        </a>#}

    {% endblock %}
</header>
<main>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</main>
    <div>
        {% block body %}
            <h1> Pas au bon endroit </h1>
        {% endblock %}
    </div>

<footer>
    {% block footer %}
        <p> &copy; Bucket-List {{ "now"|date("Y")}}</p>
    {% endblock %}
</footer>
</body>
</html>