<!doctype html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="{{ asset('js/jquery.js') }}"></script>
        <link rel="shortcut icon" href="{{ asset ('image/favicon.png') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}

    <title>{% block title %} Bucket-List {% endblock %}</title>
</head>

<body>
<header>
    {% block header %}
        <div class="header-container">
            <h1>Bucket-List</h1>
            <a href="{{ path('home') }}"><img src="{{ asset('image/logo.svg') }}"></a>
        </div>

    {% endblock %}
</header>
<main>
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</main>
    <div>
        {% block body %}
            <h1> Pas au bon endroit </h1>
        {% endblock %}
    </div>

<footer>
    {% block footer %}
        <p> &copy; Bucket-List {{ "now"|date("Y")}}</p>
    {% endblock %}
</footer>
</body>
</html>